<!DOCTYPE html>

<html lang="en-us">

<head>

    <meta charset="UTF-8">
    <title>Avant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="../../public/styles/styles.css"-->
    <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>
    <div class="row nav nav-fill header">
        <div class="col-xl-3 col-lg-6">
            <a class="nav-link" href="#"><img class="logo" src="images/logofull.png"></a>
        </div>
        <div class="col-xl-2 col-lg-4 search-area">
            <form class="form-inline">
                <div class="form-inline">
                    <button class="search-btn" id="header-find-artist-btn" type="submit"><img class="mag-icon" src="images/mag.png"></button>
                    <input type="text" class="search-bar" aria-label="user-lookup" id="search">
                </div>
            </form>
        </div>
        <div class="col-xl-2 col-lg-4">
            <div class="form-inline nav-btn-area">
                <button class="btn nav-btn">
                    <img class="link-icon" src="images/user.png">
                </button>
                <p class="nav-text">Log-In</p>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4">
            <div class="form-inline nav-btn-area">
                <button class="btn nav-btn">
                    <a href="/display-profile">
                    <img class="link-icon" src="images/plus.png">
                    </a>
                </button>
                <p class="nav-text">Create New</p>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4">
            <div class="form-inline nav-btn-area">
                <button class="btn nav-btn">
                    <img class="link-icon" src="images/edit.png">
                </button>
                <p class="nav-text">Edit Store</p>
            </div>
        </div>
    </div>
    {{{ body }}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/create-profile.js"></script>
    <script src="/js/add-listing.js"></script>
    <script src="/js/view-store-front.js"></script>
    <script src="/js/find-artist.js"></script>
</body>


</html>
