<div class="main">
    <div class="container">
        <div class="card index-card">
            <form>
                <h5>Listing Info</h5>
                <div class="row">
                    <div class="col">
                        <label for="userName">Listing Title</label>
                        <input type="text" id="listing-title" class="form-control" placeholder="title">
                    </div>
                    <div class="col">
                        <label for="userName">Price</label>
                        <input type="text" id="listing-price" class="form-control" placeholder="price">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="userName">Preview Image</label>
                        <input type="text" id="listing-thumb-img" class="form-control" placeholder="image link - 200x181px">
                    </div>
                    <div class="col">
                        <label for="userName">Full Image Link</label>
                        <input type="text" id="listing-full-img" class="form-control" placeholder="image link">
                    </div>
                </div>
                <!--button type="submit" class="btn main-search-btn form-btn">Just This</button>
               or
                <button type="submit" class="btn main-search-btn form-btn">Add Another</button-->
                <button type="submit" id= "create-listing-btn" class="btn main-search-btn form-btn">Add Listing</button>
            </form>
        </div>
    </div>
</div>
