<div class="main">
        <div class="card index-card">
            <h5 class="text-center user-name">Search for an Artist by Name</h5>
            <form class="form-inline my-2 my-lg-0" style="margin: auto">
                    <input class="form-control mr-sm-2" id="artist-name" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn my-2 my-sm-0 main-search-btn" id="find-artist-btn" type="submit">User Name</button>
                  </form>
        </div>
    </div>
